body{
  background: #d3e9ee;
  margin: 0;
  text-align: center;
}
h1{
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Handlee', cursive;
}
.top_container{
  padding-top: 10%;
  margin: 0 auto;
  position: relative;
}
.cloud1{
  position: absolute;
  right: 10%;
  top: 0;
}
.cloud2{
  position: absolute;
  left: 10%;
}
.island{
  padding-top: 5%;
}
.middle_container{
  font-family: 'Handlee', cursive;
  background-color: #fcd285;
  border: solid 20px;
  padding: 20px;
  margin-left: 260px;
  width: 200px;
  height: 200px;
}
.bottom_container{
  font-family: 'Roboto', sans-serif;
  background-color: #eba882;
  border: solid 10px;
  padding: 20px;
  margin-left: 540px;
  width: 200px;
  height: 200px;
}
