body{
  background: #d3e9ee;
  margin: 0;
  text-align: center;
}
h1{
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Handlee', cursive;
  color: #4f4f69;
}
h2{
  font-family: 'Handlee', cursive;
  color: #4f4f69;
}
h3{
  font-family: 'Handlee', cursive;
  color: #4f4f69;
  margin-bottom: 10px;
  margin-top: 10px;
}
p{
  font-family: 'Roboto', sans-serif;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 10px;
  margin-top: 10px;
}
a{
  font-family: 'Roboto', sans-serif;
  margin-bottom: 10px;
  margin-top: 10px;
}
.top_container{
  padding-top: 10%;
  margin: 0 auto;
  position: relative;
}
.cloud1{
  position: absolute;
  right: 10%;
  top: 0;
}
.cloud2{
  position: absolute;
  left: 10%;
}
.island{
  padding-top: 5%;
}
.middle_container{
  /* font-family: 'Handlee', cursive; */

}
.element{
  padding-bottom: 20px;
}
.skill-row{
  /* margin-top: 5px */
}
.bottom_container{
  font-family: 'Roboto', sans-serif;
  font-size: 50%;

}
